<div class="d-flex main-div">
  <div class="reg-forms">
    <div class="insiders">
      <div class="button-header">
<a href="" id="back">
          <img src="/assets/img/back 2x.png" alt=""  height="15"/>
          Back</a
        >        <button routerLink="/register"><span class="blue">Register</span> as Employee</button>
      </div>
      <h1 id="heading-main"><span class="blue">Create</span> Employer Account</h1>
      <h4 id="message">Fields marked with <span class="errors">*</span> are required.</h4>

      <form #employerForm="ngForm" (ngSubmit)="onSubmit(employerForm)" novalidate>
        <div class="registeration-form">
          <!-- Account Information -->
          <h3 id="heading-account">Company Information</h3>

          <div class="email-section">
            <label>Company Name<span class="required">*</span></label>
            <input
              type="text"
              name="companyName"
              [(ngModel)]="employer.companyName"
              required
              #companyName="ngModel"
              placeholder="Company name"
              id="input-inside"
            />
            <div *ngIf="employerForm.submitted && companyName.invalid" class="error">
              Company Name is required
            </div>
          </div>

          <div class="email-section">
            <label>Company Type <span class="required">*</span></label>
            <select
              name="companyType"
              [(ngModel)]="employer.companyType"
              required
              #companyType="ngModel"
              id="select-type"
            >
              <option value="" disabled selected>Select</option>
              <option value="type1">Sole Proprietorship</option>
              <option value="type2">General Partnership</option>
              <option value="type3">Limited Partnership</option>
              <option value="type4">Limited Liability Partnership</option>
              <option value="type5">Limited Liability Company</option>
              <option value="type6">C Corporation</option>
              <option value="type7">S Corporation</option>
              <option value="type8">Benefit Corporation</option>
              <option value="type9">Nonprofit Corporation</option>
              <option value="type10">Cooperative</option>
              <option value="type11">Professional Corporation</option>
              <option value="type12">Professional Limited Liability Company</option>
            </select>
            <div *ngIf="employerForm.submitted && companyType.invalid" class="error">
              Company type is required
            </div>
          </div>

        <div class="tin-section" style="position: relative;">
  <label>TIN/EIN<span class="required">*</span></label>
  <input
    [type]="showTIN ? 'text' : 'password'"
    name="tin"
    [(ngModel)]="employer.tin"
    required
    #tin="ngModel"
    maxlength="10"
    id="input-inside"
    (input)="formatTIN($event)"
  />

  <!-- 👁 Toggle Icon -->
  <img
    [src]="showTIN ? '/assets/img/closedEye.png' : '/assets/img/eye.png'"
    (click)="toggleTIN()"
    alt="Toggle TIN"
    style="position: absolute; right: 10px; top: 55%; transform: translateY(-50%); width: 24px; height: 18px; cursor: pointer;"
  />

  <div *ngIf="employerForm.submitted && tin.errors" class="error">
    <span *ngIf="tin.errors['required']">TIN is required</span>
    <span *ngIf="tin.errors['pattern']">Invalid TIN</span>
  </div>
</div>

          <h3 id="heading-account2">Business Main Point of Contact</h3>

          <div class="inputs">
            <div>
              <label>First name<span class="required">*</span></label>
              <input
                type="text"
                name="firstName"
                [(ngModel)]="employer.firstName"
                required
                #firstName="ngModel"
              />
              <div *ngIf="employerForm.submitted && firstName.invalid" class="error">
                First name is required
              </div>
            </div>
            <div>
              <label>Last Name <span class="required">*</span></label>
              <input
                type="text"
                name="lastName"
                [(ngModel)]="employer.lastName"
                required
                #lastName="ngModel"
              />
              <div *ngIf="employerForm.submitted && lastName.invalid" class="error">
                Last name is required
              </div>
            </div>
          </div>

          <div class="email-section2">
            <label>Email Address<span class="required">*</span></label>
            <input
              type="email"
              name="email"
              [(ngModel)]="employer.email"
              required
              email
              #email="ngModel"
              id="email-input"
            />
            <div *ngIf="employerForm.submitted && email.invalid" class="error">
              Enter a valid email
            </div>
          </div>

          <!-- </form> -->
        </div>
        <div class="registeration-form2">
          <!-- Account Information -->
          <h3 id="heading-account3">Account Information</h3>

          <div class="user-section">
            <label>User ID<span class="required">*</span></label>
            <input
              type="text"
              name="userId"
              [(ngModel)]="employer.userId"
              required
              #userId="ngModel"
            />
            <p id="small-text">5 to 15 letters and/or numbers</p>
            <div *ngIf="employerForm.submitted && userId.invalid" class="error">
              User ID must be between 5 to 15 characters
            </div>
          </div>

          <div class="creds-inputs">
            <div class="d-flex flex-column enterpassword">
              <label>Password<span class="required">*</span></label>
              <input
                type="password"
                name="password"
                [(ngModel)]="employer.password"
                required
                minlength="6"
                #password="ngModel"
              />
              <div *ngIf="employerForm.submitted && password.invalid" class="error">
                Password is required (min 6 chars)
              </div>
            </div>
            <div class="d-flex flex-column renter">
              <label>Re-enter password<span class="required">*</span></label>
              <input
                type="password"
                name="confirmPassword"
                [(ngModel)]="employer.confirmPassword"
                required
                #confirmPassword="ngModel"
                id="Re-enter"
              />
              <div
                *ngIf="employerForm.submitted && employer.confirmPassword !== employer.password"
                class="error"
              >
                Passwords do not match
              </div>
            </div>
          </div>

          <!-- </form> -->
        </div>

        <div class="security-form">
          <!-- <h1> </h1> -->
          <!-- <form action=""> -->
          <h3 id="heading-security">Security Questions</h3>
          <p id="question-heading">
            Please select 4 different questions and answers. You will be asked these questions if
            you forget your login information.
          </p>

          <div class="question-section">
            <div class="d-flex flex-column">
              <label for="question1">Question 1 <span class="required">*</span></label>
              <select
                id="question1"
                name="question1"
                [(ngModel)]="employer.question1"
                #question1="ngModel"
                required
              >
                <option value="" disabled selected>Select a question from drop-down menu</option>
                <option value="bones">How many bones have you broken?</option>
                <option value="first-job-city">In what city or town was your first job?</option>
                <option value="childhood-friend">
                  What is the name of your favorite childhood friend?
                </option>
                <option value="street-number">
                  What is the street number of the house you grew up in?
                </option>
                <option value="favorite-sport">What is your favorite sport?</option>
                <option value="first-car-color">What was the color of your first car?</option>
                <option value="first-car-make">
                  What was the make and model of your first car?
                </option>
                <option value="first-pet">What was the name of your first pet?</option>
                <option value="dream-job">What was your dream job as a child?</option>
                <option value="highschool-mascot">What was your high school mascot?</option>
              </select>
              <div *ngIf="employerForm.submitted && question1.invalid" class="error">
                This is required
              </div>
            </div>

            <div class="d-flex flex-column">
              <label for="answer1">Answer to Question 1 <span class="required">*</span></label>
              <input
                type="text"
                id="answer1"
                name="answer1"
                [(ngModel)]="employer.answer1"
                #answer1="ngModel"
                required
              />
              <p id="small-text">1 to 30 letters and/or numbers</p>
              <div *ngIf="employerForm.submitted && answer1.invalid" class="error">
                Please provide an answer for Security Question 1
              </div>
            </div>
          </div>

          <div class="question-section">
            <div class="d-flex flex-column">
              <label for="question2">Question 2 <span class="required">*</span></label>
              <select
                id="question2"
                name="question2"
                [(ngModel)]="employer.question2"
                #question2="ngModel"
                required
              >
                <option value="" disabled selected>Select a question from drop-down menu</option>
                <option value="bones">How many bones have you broken?</option>
                <option value="first-job-city">In what city or town was your first job?</option>
                <option value="childhood-friend">
                  What is the name of your favorite childhood friend?
                </option>
                <option value="street-number">
                  What is the street number of the house you grew up in?
                </option>
                <option value="favorite-sport">What is your favorite sport?</option>
                <option value="first-car-color">What was the color of your first car?</option>
                <option value="first-car-make">
                  What was the make and model of your first car?
                </option>
                <option value="first-pet">What was the name of your first pet?</option>
                <option value="dream-job">What was your dream job as a child?</option>
                <option value="highschool-mascot">What was your high school mascot?</option>
              </select>
              <div *ngIf="employerForm.submitted && question2.invalid" class="error">
                You must choose the Security Question 2
              </div>
            </div>

            <div class="d-flex flex-column">
              <label for="answer2">Answer to Question 2 <span class="required">*</span></label>
              <input
                type="text"
                id="answer2"
                name="answer2"
                [(ngModel)]="employer.answer2"
                #answer2="ngModel"
                required
              />
              <p id="small-text">1 to 30 letters and/or numbers</p>

              <div *ngIf="employerForm.submitted && answer2.invalid" class="error">
                Please provide an answer for Security Question 2
              </div>
            </div>
          </div>

          <div class="question-section">
            <div class="d-flex flex-column">
              <label for="question3">Question 3 <span class="required">*</span></label>
              <select
                id="question3"
                name="question3"
                [(ngModel)]="employer.question3"
                #question3="ngModel"
                required
              >
                <option value="" disabled selected>Select a question from drop-down menu</option>
                <option value="bones">How many bones have you broken?</option>
                <option value="first-job-city">In what city or town was your first job?</option>
                <option value="childhood-friend">
                  What is the name of your favorite childhood friend?
                </option>
                <option value="street-number">
                  What is the street number of the house you grew up in?
                </option>
                <option value="favorite-sport">What is your favorite sport?</option>
                <option value="first-car-color">What was the color of your first car?</option>
                <option value="first-car-make">
                  What was the make and model of your first car?
                </option>
                <option value="first-pet">What was the name of your first pet?</option>
                <option value="dream-job">What was your dream job as a child?</option>
                <option value="highschool-mascot">What was your high school mascot?</option>
              </select>
              <div *ngIf="employerForm.submitted && question3.invalid" class="error">
                You must choose the Security Question 3
              </div>
            </div>
            <div class="d-flex flex-column">
              <label for="answer3">Answer to Question 3 <span class="required">*</span></label>
              <input
                type="text"
                id="answer3"
                name="answer3"
                [(ngModel)]="employer.answer3"
                #answer3="ngModel"
                required
              />
              <p id="small-text">1 to 30 letters and/or numbers</p>

              <div *ngIf="employerForm.submitted && answer3.invalid" class="error">
                Please provide an answer for Security Question 3
              </div>
            </div>
          </div>

          <div class="question-section">
            <div class="d-flex flex-column">
              <label for="question4">Question 4 <span class="required">*</span></label>
              <select
                id="question4"
                name="question4"
                [(ngModel)]="employer.question4"
                #question4="ngModel"
                required
              >
                <option value="" disabled selected>Select a question from drop-down menu</option>
                <option value="bones">How many bones have you broken?</option>
                <option value="first-job-city">In what city or town was your first job?</option>
                <option value="childhood-friend">
                  What is the name of your favorite childhood friend?
                </option>
                <option value="street-number">
                  What is the street number of the house you grew up in?
                </option>
                <option value="favorite-sport">What is your favorite sport?</option>
                <option value="first-car-color">What was the color of your first car?</option>
                <option value="first-car-make">
                  What was the make and model of your first car?
                </option>
                <option value="first-pet">What was the name of your first pet?</option>
                <option value="dream-job">What was your dream job as a child?</option>
                <option value="highschool-mascot">What was your high school mascot?</option>
              </select>
              <div *ngIf="employerForm.submitted && question4.invalid" class="error">
                You must choose the Security Question 4
              </div>
            </div>

            <div class="d-flex flex-column">
              <!-- </div> -->
              <label for="answer4">Answer to Question 4 <span class="required">*</span></label>
              <input
                type="text"
                id="answer4"
                name="answer4"
                [(ngModel)]="employer.answer4"
                #answer4="ngModel"
                required
              />
              <p id="small-text">1 to 30 letters and/or numbers</p>

              <div *ngIf="employerForm.submitted && answer4.invalid" class="error">
                Please provide an answer for Security Question 4
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="registeration-form2">
        <h3 id="heading-account">Security Image</h3>
      </div> -->

        <div class="registeration-form2">
          <h3 id="heading-account">User Acceptance Agreement</h3>
          <div class="d-flex user-agreement">
            <input
              type="checkbox"
              name="acceptAgreement"
              [(ngModel)]="employer.acceptAgreement"
              required
              #acceptAgreement="ngModel"
              id="checkbox-agreement"
            />
            <label id="aggrement-label"
              >Yes, I accept the User Acceptance Agreement which specifies how my information will
              be kept confidential and secure. To view the User Acceptance Agreement, click the link
              above.</label
            >
          </div>
          <div *ngIf="employerForm.submitted && acceptAgreement.invalid" id="accept-error">
            Please read and accept the User Agreement to continue.
          </div>
        </div>

        <div class="bottom-buttons">
          <button id="back">Back</button>
          <button type="submit" id="create-account">Create Account</button>
        </div>
      </form>
    </div>
  </div>

  <div class="reg-pic">
    <div class="picture"></div>
    <h1></h1>
  </div>
</div>
