<div class="main-div">
  <div class="center-text">
    <div class="headings">
      <h1>Optimize</h1>
      <h1 class="orange-text">Health Benefits</h1>
      <h1>For Clients</h1>
    </div>

    <h5>
      Be the trusted link between your client and the coverage they <br />
      need. Navigate with our tools, access plan options, and offer <br />
      personalized solutions. Begin transforming the way people <br />get protected.
    </h5>

    <div class="broker-links">
      <a href="">Learn more</a>
      <button class="login-button">Login</button>
    </div>
  </div>
</div>

<div class="broker-flow">
  <h1 id="broker-head">Broker</h1>
  <h5 id="broker-head2">Be the trusted link between clients and the coverage they need.</h5>

  <div class="hex-container">
    <div class="hex-card hex-card-orange">
      <img src="/assets/img/register-employer.svg" alt="" class="logos-broker" />
      <p class="features-heading">Register Employer</p>
      <p class="hexa-content">Begin the process by setting up a plan for your clients.</p>
    </div>

    <div class="hex-card hex-card-blue">
      <img src="/assets/img/view-financial.svg" alt="" class="logos-broker" />
      <p class="features-heading-blue">View Financial Models</p>
      <p class="hexa-content-blue">
        Use our tools to assist employers in financial planning & modeling.
      </p>
    </div>

    <div class="hex-card hex-card-orange">
      <img src="/assets/img/create-specific.svg" alt="" class="logos-broker" />
      <p class="features-heading">Create Specific Quote</p>
      <p class="hexa-content">Begin the process by setting up a plan for your clients</p>
    </div>

    <div class="hex-card hex-card-blue">
      <img src="/assets/img/manage-employer-acc.svg" alt="" class="logos-broker" />
      <p class="features-heading-blue">Manage Employer Account</p>
      <p class="hexa-content-blue">Begin the process by setting up a plan for your clients</p>
    </div>

    <div class="hex-card hex-card-orange">
      <img src="/assets/img/add-employee.svg" alt="" class="logos-broker" />
      <p class="features-heading">Add Employee Classes</p>
      <p class="hexa-content">Add employee classes and set contribution types.</p>
    </div>
  </div>
</div>

<div class="broker-conditions">
  <div>
    <div class="broker-left">
      <p>
        Why would you choose <br />
        Access Health CT <br />
        <span class="orange-text"> BusinessPlus?</span>
      </p>
      <img src="/assets/img/broker-img-2x.png" alt="" id="broker-img" />
    </div>
    <div class="d-flex justify-content-center">
      <button id="start-button">Get Started →</button>
    </div>
    <!-- yeh photo wala -->
  </div>
  <div>
    <div class="grid-container">
      <div class="grid-item">
        <img src="/assets/img/Expand your business 3x.png" alt="ok" id="logos" />
        <p class="grid-container-head">Expand your business with Access Health CT BusinessPlus</p>
        <p>
          Brokers can expand their portfolio by offering customizable, tax-advantaged health
          benefits to employers. With Access Health BusinessPlus, you’re no longer tied to the
          traditional unique needs of each client.
        </p>
      </div>
      <div class="grid-item">
        <img src="/assets/img/Health Solutions for Every Employer 4x.png" alt="ok" id="logos" />
        <p class="grid-container-head">Health Solutions for Every Employer</p>
        <p>
          Create tailored health benefit solutions by customizing contributions for different
          employee classes and managing individual coverage preferences. Access Health CT
          BusinessPlus’s flexibility empowers employers to offer benefits that fit their budget
          while giving employees the chance to select their own health coverage.
        </p>
      </div>
      <div class="grid-item">
        <img src="/assets/img/compliant and tax free 4x.png" alt="ok" id="logos" />
        <p class="grid-container-head">Compliant and Tax-Free Health Coverage</p>
        <p>
          Offer your clients ACA-compliant, tax-free health benefits that are designed to meet the
          needs of both employers and employees. The platform ensures compliance while giving
          brokers confidence that their clients benefits remain fully aligned with state and federal
          law.
        </p>
      </div>
      <div class="grid-item">
        <img src="/assets/img/Simplified Administrative Processes 4x.png" alt="ok" id="logos" />
        <p class="grid-container-head">Simplified Administrative Processes</p>
        <p>
          The Access Health CT BusinessPlus Portal reduces administrative burdens by offering
          automated tools for setting up contributions, managing employee census data, and tracking
          enrollments. Less time spent on manual tasks means more time for growing your business.
        </p>
      </div>
    </div>
    <div class="support-resouce">
      <img src="/assets/img/Ongoing Support and Resources 4x.png" alt="ok" id="logos" />
      <p class="grid-container-head">Ongoing Support and Resources</p>
      <p id="grey">
        Access Health CT provides brokers with ongoing resources and support, from creating quotes
        to onboarding clients. Our platform is designed to help you succeed, with a dedicated
        support team ready to assist every step of the way.
      </p>
    </div>
  </div>
</div>

<div>
  <div class="d-flex navigating">
    <h1>Navigating the AHCT<span class="orange-text"> BusinessPlus Portal</span></h1>
    <!-- <h1>hello</h1> -->
    <h1 id="blue-text">A broker's guide</h1>
  </div>

  <div class="dropdowns">
    <!-- Accordion Header -->
    <h3 (click)="toggleDropdown(0)" class="dropdown-header">
      Create Anonymous and Customized Quotes
      <span class="arrow" [class.open]="openIndex === 0"> ˅</span>
    </h3>

    <!-- Accordion Body -->
    <div class="dropdown-body" *ngIf="openIndex === 0">
      <h4>How It Works?</h4>
      <p>
        Begin by generating anonymous quotes for employers, or create customized quotes based on
        employer-specific data. The Access Health CT BusinessPlus Portal makes the quote-generation
        process simple—whether you’re working with basic employer information or detailed employee
        census data. Customize quotes to align with the employer’s budget, employee classes, and
        contribution strategies.
      </p>
      <h4>Why It Matters?</h4>
      <p>
        Offering both anonymous and customized quotes lets you show the value of Access Health CT
        BusinessPlus without requiring commitment from the employer upfront. This flexibility helps
        you cater to a variety of employer needs, positioning yourself as a trusted partner in
        creating tailored health benefits solutions.
      </p>
    </div>
    <hr id="lines" />

    <h3 (click)="toggleDropdown(1)" class="dropdown-header">
      Onboard Customer clients with ease
      <span class="arrow" [class.open]="openIndex === 1"> ˅</span>
    </h3>

    <!-- Accordion Body -->
    <div class="dropdown-body" *ngIf="openIndex === 1">
      <h4>How It Works?</h4>
      <p>
        Begin by generating anonymous quotes for employers, or create customized quotes based on
        employer-specific data. The Access Health CT BusinessPlus Portal makes the quote-generation
        process simple—whether you’re working with basic employer information or detailed employee
        census data. Customize quotes to align with the employer’s budget, employee classes, and
        contribution strategies.
      </p>
      <h4>Why It Matters?</h4>
      <p>
        Offering both anonymous and customized quotes lets you show the value of Access Health CT
        BusinessPlus without requiring commitment from the employer upfront. This flexibility helps
        you cater to a variety of employer needs, positioning yourself as a trusted partner in
        creating tailored health benefits solutions.
      </p>
    </div>
    <hr id="lines" />

    <h3 (click)="toggleDropdown(2)" class="dropdown-header">
      Manage Employer Accounts & Employee Census Data Effectively
      <span class="arrow" [class.open]="openIndex === 2"> ˅</span>
    </h3>

    <!-- Accordion Body -->
    <div class="dropdown-body" *ngIf="openIndex === 2">
      <h4>How It Works?</h4>
      <p>
        Define employee classes based on roles or locations and set up custom contribution levels
        for each class. Contributions are structured as a fixed amount, with adjustments available
        based on the employee’s age or dependent coverage.
      </p>
      <h4>Why It Matters?</h4>
      <p>
        After onboarding, you can manage employer and employee information through a centralized
        dashboard. Once employers are in the system, you can manage their employee census in a few
        clicks. The platform allows you to add, manage or import bulk employee data, and create
        employee classes.
      </p>
    </div>
    <hr id="lines" />

    <h3 (click)="toggleDropdown(3)" class="dropdown-header">
      Tailor ICHRA Programs as per Employer’s Needs
      <span class="arrow" [class.open]="openIndex === 3"> ˅</span>
    </h3>

    <!-- Accordion Body -->
    <div class="dropdown-body" *ngIf="openIndex === 3">
      <h4>How It Works?</h4>
      <p>
        Create fully customized programs by defining different employee classes and contribution
        levels for each. Contributions are structured as a fixed dollar amount. You can further
        customize the contribution amount by adjusting for the employee’s age or dependent coverage
        within each class.
      </p>
      <h4>Why It Matters?</h4>
      <p>
        Quote management ensures you have the flexibility to adjust health benefit solutions over
        time, accommodating changes within the employer's workforce or budget. The ability to easily
        edit quotes helps you maintain long-term relationships with clients, ensuring their Access
        Health CT BusinessPlus programs evolve with their business needs.
      </p>
    </div>
    <hr id="lines" />

    <h3 (click)="toggleDropdown(4)" class="dropdown-header">
      Manage and Adjust Quotes with Ease
      <span class="arrow" [class.open]="openIndex === 4"> ˅</span>
    </h3>

    <!-- Accordion Body -->
    <div class="dropdown-body" *ngIf="openIndex === 4">
      <h4>How It Works?</h4>
      <p>
        Once quotes are generated, you can manage them through the platform’s quote management
        tools. You can add new quotes and modify existing quotes as needed. This feature ensures
        that you can quickly update quotes as the employer's requirements evolve—whether that means
        changing contribution amounts or adjusting employee classes.
      </p>
      <h4>Why It Matters?</h4>
      <p>
        Quote management ensures you have the flexibility to adjust health benefit solutions over
        time, accommodating changes within the employer's workforce or budget. The ability to easily
        edit quotes helps you maintain long-term relationships with clients, ensuring their Access
        Health CT BusinessPlus programs evolve with their business needs.
      </p>
    </div>
    <hr id="lines" />
  </div>
</div>
