<div class="d-flex main-div">
  <div class="reg-forms">
    <div class="insiders">
      <div class="button-header">
        <a href="" id="back">
          <img src="/assets/img/back 2x.png" alt="" height="15" />
          Back</a
        >
        <button routerLink="/register-employer">
          <span class="blue">Register</span> as Employer
        </button>
      </div>
      <h1 id="heading-main"><span class="blue">Create</span> Employee Account</h1>
      <h4 id="message">Fields marked with <span class="errors">*</span> are required.</h4>

      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" novalidate>
        <div class="registeration-form">
          <!-- Account Information -->
          <h3 id="heading-account">Account Information</h3>
          <div class="inputs">
            <div>
              <label>First name<span class="required">*</span></label>
              <input
                type="text"
                name="firstName"
                [(ngModel)]="user.firstName"
                required
                placeholder="First Name"
                #firstName="ngModel"
              />
              <div
                *ngIf="registerForm.submitted && firstName.invalid"
                style="color: red; font-size: 13px"
              >
                A first name is required
              </div>
            </div>
            <div>
              <label>Last name<span class="required">*</span></label>
              <input
                type="text"
                name="lastName"
                [(ngModel)]="user.lastName"
                required
                placeholder="Last Name"
                #lastName="ngModel"
              />
              <div
                *ngIf="registerForm.submitted && lastName.invalid"
                style="color: red; font-size: 13px"
              >
                A last name is required
              </div>
            </div>
          </div>

          <div class="email-section">
            <label>Email address<span class="required">*</span></label>
            <input
              type="email"
              name="email"
              [(ngModel)]="user.email"
              required
              placeholder="Email Address"
              #email="ngModel"
            />
            <div
              *ngIf="registerForm.submitted && email.invalid"
              style="color: red; font-size: 13px"
            >
              Valid Email is required
            </div>
          </div>

          <div class="dates-inputs">
            <div class="d-flex flex-column enterpassword">
              <label>Date of birth<span class="required">*</span></label>
              <input
                type="date"
                name="dob"
                [(ngModel)]="user.dob"
                placeholder="MM/DD/YYYY"
                required
                #dob="ngModel"
              />
              <!-- <div *ngIf="registerForm.submitted && dob.invalid" style="color: red; font-size: 13px">
              Date of Birth is required
            </div> -->
            </div>
            <div class="d-flex flex-column renter">
              <label>SSN <span class="required">*</span></label>
              <div style="position: relative; width: 100%">
                <input
                  [type]="showSSN ? 'text' : 'password'"
                  name="ssn"
                  [(ngModel)]="user.ssn"
                  required
                  placeholder="SSN"
                  maxlength="11"
                  pattern="^\d{3}-\d{2}-\d{4}$"
                  #ssn="ngModel"
                  (input)="formatSSN($event)"
                  style="width: 100%; padding-right: 40px"
                />

                <!-- Eye Icon -->
                <img
                  [src]="showSSN ? '/assets/img/closedEye.png' : '/assets/img/eye.png'"
                  (click)="toggleSSN()"
                  alt="Toggle SSN"
                  style="
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 29px;
                    height: 18px;
                    cursor: pointer;
                  "
                />
              </div>

              <!-- Error messages -->
              <div
                *ngIf="registerForm.submitted && ssn.errors"
                style="color: red; font-size: 13px; margin-top: 4px"
              >
                <span *ngIf="ssn.errors['required']">A valid SSN is required</span>
                <span *ngIf="ssn.errors['pattern']">SSN must be exactly 9 digits</span>
              </div>
            </div>
          </div>

          <div class="email-section">
            <label>User ID<span class="required">*</span></label>
            <input
              type="text"
              name="userId"
              [(ngModel)]="user.userId"
              required
              placeholder="User ID"
              #userId="ngModel"
            />
            <div
              *ngIf="registerForm.submitted && userId.invalid"
              style="color: red; font-size: 13px"
            >
              User ID can not be empty.
            </div>
          </div>

          <div class="email-section">
            <label>Password<span class="required">*</span></label>
            <input
              type="password"
              name="password"
              [(ngModel)]="user.password"
              required
              minlength="6"
              placeholder="Password"
              #password="ngModel"
            />
            <div
              *ngIf="registerForm.submitted && password.invalid"
              style="color: red; font-size: 13px"
            >
              Password must be at least 6 characters
            </div>
          </div>

          <div class="email-section">
            <label>Re-Enter password<span class="required">*</span></label>
            <input
              type="password"
              name="confirmPassword"
              [(ngModel)]="user.confirmPassword"
              required
              placeholder="Re-Enter Password"
              #confirmPassword="ngModel"
            />
            <!-- <div
              *ngIf="registerForm.submitted && confirmPassword.invalid"
              style="color: red; font-size: 13px"
            >
              Confirm Password is required
            </div> -->
            <div
              *ngIf="registerForm.submitted && user.password !== user.confirmPassword"
              style="color: red; font-size: 13px"
            >
              Passwords do not match
            </div>
          </div>
          <!-- </form> -->
        </div>

        <div class="security-form">
          <!-- <h1> </h1> -->
          <!-- <form action=""> -->
          <h3 id="heading-security">Security Questions</h3>
          <p id="question-heading">
            Please select 4 different questions and answers. You will be asked these questions if
            you forget your login information.
          </p>

          <div class="question-section">
            <div class="d-flex flex-column">
              <label for="question1">Question 1 <span class="required">*</span></label>
              <select
                id="question1"
                name="question1"
                [(ngModel)]="user.question1"
                #question1="ngModel"
                required
              >
                <option value="" disabled>Select a question from drop-down menu</option>
                <option *ngFor="let q of questions" [value]="q.value">
                  {{ q.label }}
                </option>
              </select>

              <div *ngIf="registerForm.submitted && question1.invalid" class="error">
   This is required              </div>
            </div>

            <div class="d-flex flex-column">
              <label for="answer1">Answer to Question 1 <span class="required">*</span></label>
              <input
                type="text"
                id="answer1"
                name="answer1"
                [(ngModel)]="user.answer1"
                #answer1="ngModel"
                required
              />
              <p id="small-text">1 to 30 letters and/or numbers</p>
              <div *ngIf="registerForm.submitted && answer1.invalid" class="error">
                Please provide an answer for Security Question 1
              </div>
            </div>
          </div>

          <div class="question-section">
            <div class="d-flex flex-column">
              <label for="question2">Question 2 <span class="required">*</span></label>
              <select
                id="question2"
                name="question2"
                [(ngModel)]="user.question2"
                #question2="ngModel"
                required
              >
                <option value="" disabled>Select a question from drop-down menu</option>
                <option *ngFor="let q of questions" [value]="q.value">
                  {{ q.label }}
                </option>
              </select>
              <div *ngIf="registerForm.submitted && question2.invalid" class="error">
                You must choose the Security Question 2
              </div>
            </div>

            <div class="d-flex flex-column">
              <label for="answer2">Answer to Question 2 <span class="required">*</span></label>
              <input
                type="text"
                id="answer2"
                name="answer2"
                [(ngModel)]="user.answer2"
                #answer2="ngModel"
                required
              />
              <p id="small-text">1 to 30 letters and/or numbers</p>

              <div *ngIf="registerForm.submitted && answer2.invalid" class="error">
                Please provide an answer for Security Question 2
              </div>
            </div>
          </div>

          <div class="question-section">
            <div class="d-flex flex-column">
              <label for="question3">Question 3 <span class="required">*</span></label>
              <select
                id="question3"
                name="question3"
                [(ngModel)]="user.question3"
                #question3="ngModel"
                required
              >
                <option value="" disabled>Select a question from drop-down menu</option>
                <option *ngFor="let q of questions" [value]="q.value">
                  {{ q.label }}
                </option>
              </select>
              <div *ngIf="registerForm.submitted && question3.invalid" class="error">
                You must choose the Security Question 3
              </div>
            </div>
            <div class="d-flex flex-column">
              <label for="answer3">Answer to Question 3 <span class="required">*</span></label>
              <input
                type="text"
                id="answer3"
                name="answer3"
                [(ngModel)]="user.answer3"
                #answer3="ngModel"
                required
              />
              <p id="small-text">1 to 30 letters and/or numbers</p>

              <div *ngIf="registerForm.submitted && answer3.invalid" class="error">
                Please provide an answer for Security Question 3
              </div>
            </div>
          </div>

          <div class="question-section">
            <div class="d-flex flex-column">
              <label for="question4">Question 4 <span class="required">*</span></label>
              <select
                id="question4"
                name="question4"
                [(ngModel)]="user.question4"
                #question4="ngModel"
                required
              >
                <option value="" disabled>Select a question from drop-down menu</option>
                <option *ngFor="let q of questions" [value]="q.value">
                  {{ q.label }}
                </option>
              </select>
              <div *ngIf="registerForm.submitted && question4.invalid" class="error">
                You must choose the Security Question 4
              </div>
            </div>

            <div class="d-flex flex-column">
              <!-- </div> -->
              <label for="answer4">Answer to Question 4 <span class="required">*</span></label>
              <input
                type="text"
                id="answer4"
                name="answer4"
                [(ngModel)]="user.answer4"
                #answer4="ngModel"
                required
              />
              <p id="small-text">1 to 30 letters and/or numbers</p>

              <div *ngIf="registerForm.submitted && answer4.invalid" class="error">
                Please provide an answer for Security Question 4
              </div>
            </div>
            <div *ngIf="registerForm.submitted && checkDuplicateQuestions()" id="same-question-error">
              Two questions cannot be the same. Please choose a different question.
            </div>
          </div>
        </div>

        <!-- <div class="registeration-form2">
        <h3 id="heading-account">Security Image</h3>
      </div> -->

        <div class="registeration-form2">
          <h3 id="heading-account">User Acceptance Agreement</h3>
          <div class="d-flex user-agreement">
            <input
              type="checkbox"
              name="acceptAgreement"
              [(ngModel)]="user.acceptAgreement"
              required
              #acceptAgreement="ngModel"
              id="checkbox-agreement"
            />
            <label id="aggrement-label"
              >Yes, I accept the User Acceptance Agreement which specifies how my information will
              be kept confidential and secure. To view the User Acceptance Agreement, click the link
              above.</label
            >
          </div>
          <div *ngIf="registerForm.submitted && acceptAgreement.invalid" id="accept-error">
            Please read and accept the User Agreement to continue.
          </div>
        </div>

        <div class="bottom-buttons">
          <button id="back">Back</button>
          <button type="submit" id="create-account">Create Account</button>
        </div>
      </form>
    </div>
  </div>

  <div class="reg-pic">
    <div class="picture"></div>
    <h1></h1>
  </div>
</div>
